@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/tabla.jpg");
  margin: 30px ;
  padding: 30px;
}





 




p {
    margin-bottom: 20px;
    color: #685d41;
    font-size: 20px;
  }
  .wrapper {
    width: 40%;
    margin: auto;
    overflow:hidden;
    
   
  }
  header {
    display: grid;
    grid-template-rows: 1fr;
    background-image: url(/img/burger.jpg);
  
   text-align: center;
   position:fixed;
   z-index:1000;
   top:0;
   max-width:1000px;
   width:100%;
   box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
  
 
  nav ul {
    list-style: none;
    overflow: hidden;
  
    
  }
  nav ul li {

    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 20px;
 
  }
  nav ul li a {
    display: block; 
    padding: 20px;
    color: #FEFBE7;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #DAE5D0;
  }
  .contenido {
    padding-top: 80px;
  }
  h1{
      color: #A0BCC2;
      text-align: center;
      font-size: 70px;
      padding: 150px;
  }

  h2{
    color: #DAE5D0;
    text-align: center;
    font-size: 40px;
}
h5{
    
  
    font-size: 40px;
}
.comidas{

  display: grid;
  grid-template-columns: 1fr 1fr;

 
}

.card{

    padding: 10px;
    background-color:#A0BCC2;
    margin: 30px;
    gap: 50px;
   
    
}
.form-label{color: #ffffff;
font-size: 20px;}

#contacto{margin: 200px;

}

.tel{
  
  font-weight: bold;

  font-size: 20px;
  text-decoration: none;
  color: #DAE5D0;
  padding: 20px;
}
.title-contacto{
  padding: 10px;

  font-size: 60px;
  text-align: left;
}

.contactanos{

padding: 20px;
margin: 20px;

height: 1000px;
width: 800px;
background-color: #685d41;

  text-align: left;
  }
.contacto{

  padding: 20px;
  height: auto;
  height: 500px;
  text-align: justify;
  margin: 20px;
}
footer{
  background-color: #685d41;
  padding: 20px;

  display: grid;
  grid-template-columns: 50% 1fr;
  
}

